{% extends 'home/base.html' %}

{% block title %}
    Homepage
{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card p-4 shadow-lg" style="background-color: #f8f9fa;">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
		    {% if messages %}
		    {% for message in messages %}                                                               <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>                                               {% endfor %}
		    {% endif %}
                    <h2 class="mb-4" style="color: #e44d26;">Add Recipe</h2>
                    <h4 class="text-muted text-center mb-4">Welcome, {{ request.user }}</h4>

                    <div class="mb-3">
                        <label for="recipe_name" class="form-label" style="color: #e44d26;">Recipe name</label>
                        <input name="recipe_name" required type="text" class="form-control" placeholder="Enter Recipe Name">
                        <small class="form-text text-muted">Make it a small but unique name.</small>
                    </div>

                    <div class="mb-3">
                        <label for="recipe_description" class="form-label" style="color: #e44d26;">Recipe description</label>
                        <textarea name="recipe_description" class="form-control" rows="3"></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="recipe_image" class="form-label" style="color: #e44d26;">Recipe Image</label>
                        <input name="recipe_image" type="file" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-success" style="background-color: #e44d26; border-color: #e44d26;">Add Recipe</button>
                </form>
            </div>
        </div>
    </div>

    <hr class="my-5">

    <div class="row">
        <div class="col-md-6 mx-auto">
            <form>
                <div class="mb-3">
                    <label class="form-label text-white" style="font-weight: bold;">Search Recipe</label>
                    <div class="input-group">
                        <input name="search" class="form-control" placeholder="Search for recipes">
                        <button type="submit" class="btn btn-primary" style="background-color: #e44d26; border-color: #e44d26;">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <hr class="my-5">

    <div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Recipe name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Image</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in recipes %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ recipe.recipe_name }}</td>
                            <td>{{ recipe.recipe_description }}</td>
                            <td><img src="{{ recipe.recipe_image.url }}" class="img-thumbnail" style="max-height: 100px;"></td>
                            <td>
                                <a href="{% url 'delete_recipe' recipe.id %}" class="btn btn-danger m-2">Delete</a>
                                <a href="{% url 'update_recipe' recipe.id %}" class="btn btn-success">Update</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
