{% extends 'home/base.html'%}
{% block title %}
New recipes
{% endblock %}
{% block body %}
<div class="card-deck">
{% for recipe in recipes %}
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
	    <h5 class="card-title">{{ recipe.recipe_name }}</h5>
	    <p class="card-text">{{ recipe.recipe_description }}</p>
    </div>
    <div class="card-footer">
	    <small class="text-muted">Last updated {{recipe.last}} ago.</small>
    </div>
   {% endfor %}
  </div>
{% endblock %}
