{% extends "home/base.html" %}
{% block title %}
Register
{% endblock %}
{% block body %}
<div class='container mt-5'>
    <form class="col-lg-6 col-md-8 col-sm-10 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="text-center">Register New Account</h2>
        {% if messages %}
            <div class="alert alert-primary mb-3" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        <hr>

        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" name="first_name" class="form-control" id="first_name" placeholder="Enter First Name" required>
        </div>

        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" name="last_name" class="form-control" id="last_name" placeholder="Enter Last Name" required>
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="Enter Username" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
        </div>

        <p class="text-center">Already have an account? <a href="/login/">Login</a></p>

        <button type="submit" class="btn orange btn-block mt-2">Submit</button>
    </form>
</div>

{% endblock %}
